.path-frontpage {
  #views-exposed-form-search-page {
    flex-flow: column;

    @include breakpoint($breakpoint-s) {
      display: flex;
      flex-flow: row wrap;
    }

    .hds-text-input {
      width: 100%;
    }
  
    .form-actions {
      font-weight: 500;
      margin-bottom: 16px;

      @include breakpoint($breakpoint-s) {
        margin-bottom: 0;
        margin-right: 16px;
      }

      input {
        width: 100%;

        @include breakpoint($breakpoint-s) {
          width: initial;
        }
      }
    }

    .hds-button {
      width: 100%;

      @include breakpoint($breakpoint-s) {
        width: initial;
      }

      &:hover,
      &:focus {
        -webkit-box-shadow: 0 0 0 var(--outline-gutter) var(--submit-input-focus-gutter-color),
                            0 0 0 calc(var(--outline-gutter) + var(--outline-width)) var(--focus-outline-color);
        box-shadow: 0 0 0 var(--outline-gutter) var(--submit-input-focus-gutter-color),
                    0 0 0 calc(var(--outline-gutter) + var(--outline-width)) var(--focus-outline-color);
      }
    }
  }
}
