<div class="header-search dropdown dropdown--search">
  <button type="button" class="hds-button hds-button--supplementary hds-button--search-toggle hds-button--theme-black" aria-expanded="false" data-dropdown-trigger="">
    <span aria-hidden="true" class="hds-icon hds-icon--search hds-icon--size-m"></span>
    <span class="hds-button__label">{{ 'Search'|t }}</span>
  </button>

  <div class="header-search__form-wrapper">
    <form role="search" action="/fi/haku" method="GET">
      <div class="hds-text-input hds-text-input--search ">
        <label for="edit-s" class="hds-text-input__label hiddenFromScreen"></label>
        <div class="hds-text-input__input-wrapper">
          <input placeholder="Paikka, henkilö, aihe, tapahtuma..." data-bef-auto-submit-exclude="" data-drupal-selector="edit-s" data-search-api-autocomplete-search="search" class="form-autocomplete form-text hds-text-input__input ui-autocomplete-input" data-autocomplete-path="/fi/search_api_autocomplete/search?display=page&amp;&amp;filter=s" type="text" id="edit-s" name="s" value="" size="30" maxlength="128" autocomplete="off">
          <button type="submit" class="hds-button hds-button--supplementary hds-button--theme-black" aria-label="Hae">
            <span class="hds-button__label">&nbsp;</span>
            <span aria-hidden="true" class="hds-icon hds-icon--search hds-icon--size-m    "></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>