<button class="year-interval__toggle" type="button" aria-pressed="false">
  <label class="year-interval__toggle-title">{{ 'Select year interval'|t }}</label>
  {% include '@hdbt/misc/icon.twig' with {icon: 'angle-down' } %}
</button>