.page-type--article {
  .back-to-search-results__container {
    padding-top: 0;
  }

  .back-to-search-results {
    @include breakpoint($breakpoint-m) {
      padding-left: $spacing-triple * 2;
    }
  }

  .main-content {
    margin-top: $spacing-double;
  }

  .node--type-article {
    &.node--view-mode-content-top {
      padding-bottom: 0;

      @include breakpoint($breakpoint-s) {
        padding-bottom: $spacing-double;
      }

      .divider {
        margin: $spacing auto 0;
        max-width: 300px;
        height: 3px;
        background-color: $color-silver-medium-light;

        @include breakpoint($breakpoint-s) {
          margin: $spacing-double auto 0;
        }
      }
    }

    &.node--view-mode-before-content {
      .article-header__container {
        @include breakpoint(0px $breakpoint-s) {
          padding-top: $spacing;
        }
      }
    }

    &.node--view-mode-full {
      margin-top: $spacing-double;

      .article-header {
        background-color: $color-white;
        padding: 0 0 ($spacing * 1.5);
        margin-bottom: $spacing-double;

        .article-header__container {
          margin-bottom: 0;

          .article__date {
            color: var(--color-black-60);
          }
        }

        .article__date {
          color: $text-color-gray;
        }
      }

      .columns {
        @include breakpoint(0px $breakpoint-s) {
          margin-top: $spacing;
        }
      }
    }

    .article-content-top__container {
      display: flex;
      justify-content: center;
      color: $color-metro-dark;

      @include breakpoint(0px $breakpoint-s) {
        padding-top: 0;
      }

      svg {
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 5px;
      }

      .format-wrapper {
        display: flex;
        align-items: center;
      }

      .era {
        margin-left: $spacing-double;
      }

      .show-on-map {
        margin-left: $spacing-double;

        a {
          color: $color-metro-dark;
          text-decoration: none;
        }
      }
    }

    .article__content {
      padding: 0;

      @include breakpoint($breakpoint-s) {
        padding: 0 $spacing-double;
      }

      // Normalize paragraph content Y-margins.
      .paragraph-content {
        .text,
        .image,
        .gallery,
        .list-of-links,
        .content-cards,
        .remote-video,
        .timeline {
          margin-top: 0;
          margin-bottom: $spacing-triple;
        }
      }
    }

    .article__keywords,
    .article__phenomena,
    .article__neighbourhoods {
      background: $color-silver-light;
      margin-top: $spacing-double;
      padding: $spacing-half 0 $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-top: $spacing-quadruple;
        padding: ($spacing-quadruple - $spacing-and-half) 0 $spacing-quadruple;
      }

      @include breakpoint($breakpoint-l) {
        margin-top: $spacing-triple;
      }

      .container {
        max-width: $content-area-wrapper-width-max;
      }

      &:last-child {
        // Make the keywords element go "under" the footer.
        margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-triple}));
        padding-bottom: $spacing-double + $footer-koro-height;

        @include breakpoint($breakpoint-l) {
          padding-bottom: $spacing-quadruple + $footer-koro-height;
        }
      }
    }
  }
}
