.page-type--article {
  .node--type-article {
    #back-to-search-results {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-triple * 2;
      }
    }

    .article__keywords,
    .article__phenomena,
    .article__neighbourhoods {
      background: $color-silver-light;
      margin-top: $spacing-double;
      padding: $spacing-half 0 $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-top: $spacing-quadruple;
        padding: ($spacing-quadruple - $spacing-and-half) 0 $spacing-quadruple;
      }

      @include breakpoint($breakpoint-l) {
        margin-top: $spacing-triple;
      }

      .container {
        max-width: $content-area-wrapper-width-max;
      }

      &:last-child {
        // Make the keywords element go "under" the footer.
        margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-triple}));
        padding-bottom: $spacing-double + $footer-koro-height;

        @include breakpoint($breakpoint-l) {
          padding-bottom: $spacing-quadruple + $footer-koro-height;
        }
      }
    }
  }
}
