.page-type--article {
  .node--type-article {
    .article__keywords,
    .article__phenomena,
    .article__neighbourhoods {
      background: $color-silver-light;
      margin-top: $spacing-double;
      padding: $spacing-half 0 $spacing-double;

      @include breakpoint($breakpoint-m) {
        margin-top: $spacing-quadruple;
        padding: ($spacing-quadruple - $spacing-and-half) 0 $spacing-quadruple;
      }

      @include breakpoint($breakpoint-l) {
        margin-top: $spacing-triple;
      }

      .container {
        max-width: $content-area-wrapper-width-max;
      }

      &:last-child {
        // Make the keywords element go "under" the footer.
        margin-bottom: calc(-1 * (#{$footer-koro-height} + #{$spacing-triple}));
        padding-bottom: $spacing-double + $footer-koro-height;

        @include breakpoint($breakpoint-l) {
          padding-bottom: $spacing-quadruple + $footer-koro-height;
        }
      }

      .keywords__wrapper,
      .phenomena__wrapper,
      .neighbourhoods__wrapper {
        margin-left: -#{$spacing-quarter};
        margin-right: -#{$spacing-quarter};
      }

      .label {
        @include font-size(18px, 30px);
        color: $color-black-90;
        font-weight: $font-weight-medium;
        margin: 0 $spacing-quarter $spacing-half;

        @include breakpoint($breakpoint-m) {
          @include font-size(24px, 30px);
          margin: 0 $spacing-quarter $spacing;
        }
      }

      .keywords,
      .phenomena,
      .neighbourhoods {
        display: flex;
        flex-flow: row wrap;

        span {
          @include font-size(16px, 24px);
          background-color: $color-black;
          border-radius: $spacing-and-half;
          color: $color-white;
          font-weight: $font-weight-regular;
          margin: $spacing-quarter;
          padding: $spacing-half $spacing-double;
          text-decoration: none;
        }
      }
    }
  }
}
