.page-type--listing-page {
  .before-content {
    .back-to-search-results__container {
      padding-top: 0;
    }

    .back-to-search-results {
      @include breakpoint($breakpoint-m) {
        padding-left: $spacing-triple * 2;
      }
    }

    .node--type-listing-page {
      &.node--view-mode-before-content {
        .listing-page-header__container {
          margin-bottom: $spacing-double;
          padding-top: 0;

          @include breakpoint($breakpoint-m) {
            margin-bottom: $spacing-triple;
          }

          @include breakpoint(0px $breakpoint-s) {
            padding-top: $spacing;
          }

          > div {
            max-width: $content-width-max;
        
            @include breakpoint($breakpoint-m) {
              padding-left: $spacing-triple * 2;
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;

    .node--type-listing-page {
      &.node--view-mode-full {

        p {
          @include font-size($fontsize-body-m, $lineheight-s);
        }
      }
    }
  }
}
