.page-type--map-page {
  .messages__container {
    padding: 0;
  }

  .search-filters {
    margin-bottom: 0;

    .block__container {
      padding-top: 0;

      .filters {
        padding: $spacing-and-half 0;
        margin: 0 auto;
        max-width: $breakpoint-s;
      }

      .exposed-filters__accordion {
        margin-top: 0;

        .accordion__container {
          padding: 0;

            .accordion__wrapper {
              border: 2px solid var(--color-white);

            .accordion-item__header {
              color: var(--color-white);
              background-color: transparent;
              border-top: none;

              .accordion-item__button--toggle {
                padding-top: $spacing-three-quarters;
                padding-bottom: $spacing-three-quarters;
                font-size: 1rem;

                @include breakpoint($breakpoint-l) {
                  padding-top: $spacing-three-quarters;
                  padding-bottom: $spacing-three-quarters;
                  font-size: 1.25rem;
                }

                &[aria-expanded="false"] {
                  &:hover,
                  &:focus {
                    background: darken($color-black-80, 10%);
                  }
                }

                &:after {
                  filter: invert(1);
                }
              }
            }

            .accordion-item__content {
              color: var(--color-white);
              background-color: transparent;

              .accordion-item__content__inner {
                padding-bottom: 32px;

                .form-item-field-keywords-target-id {
                  .hds-text-input__input {
                    background-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0ibTEyIDEzLjUgNS01IDEuNSAxLjUtNi41IDYuNUw1LjUgMTAgNyA4LjV6Ii8+PC9nPjwvc3ZnPg==);
                    background-repeat: no-repeat;
                    background-size: 24px;
                  }
                }

                .accordion-item__button--close:focus {
                  box-shadow: 0 0 0 3px var(--color-white);
                }
              }
            }
          }
        }
      }
    }
  }

  .main-content {
    margin-top: 0;

    .views-element-container {
      margin-bottom: $spacing-double;
    }
  }
}
