.content-cards__subtitle {
  margin-top: 0;
  margin-bottom: $spacing-half;
  text-transform: uppercase;
}

.content-cards__title {
  @include font-size($fontsize-heading-m, $lineheight-m);
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-double;
  margin-top: 0;

  @include breakpoint($breakpoint-s) {
    @include font-size($fontsize-heading-l, $lineheight-m);
  }
}

.content-card__link {
  height: 100%;
}

.content-card__image {
  img {
    object-fit: cover;
  }
}

.content-card__content {
  background: $color-white;
  padding: $spacing;
  height: 100%;

  .content-card__metadata {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 $spacing-half;
  }

  .content-card__metadata-item {
    display: flex;
    align-items: center;
    background-color: $color-sand;
    color: $color-metro-dark;
    min-height: $spacing-double;
    padding: 0 $spacing-half;
    margin-right: $spacing;
    margin-bottom: $spacing-half;
    font-size: 14px;
    line-height: 1.4em;

    svg {
      vertical-align: middle;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .content-card__metadata-item__text {
    padding: $spacing-half 0;
    line-height: $lineheight-s;

    & > span {
      display: flex;

      &:not(:last-child) {
        margin-bottom: $spacing-half;
      }
    }
  }

  .content-card__bundle .content-card__metadata-item__text {
    padding-left: $spacing-quarter;
  }

  .bundle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bundle-icon {
    margin-right: $spacing-quarter;

    svg {
      vertical-align: middle;
    } 
  }

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: $font-weight-bold;

    a {
      text-decoration: none;
    }
  }
}

.content-card__arrow {
  color: $color-metro-dark;
  
  .icon {
    --icon-proportions: 1.5rem;

    @include breakpoint($breakpoint-m) {
      --icon-proportions: 1.8rem;
    }

    @include breakpoint($breakpoint-l) {
      --icon-proportions: 2rem;
    }
  }
}