$card_spacing: $spacing-and-half;

.content-cards__content {
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  
  &::-webkit-scrollbar {
    background: transparent;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $color-black-10;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-metro-dark;
    border-radius: 8px;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: $color-metro-light;
  }

  @include breakpoint($breakpoint-s) {
    overflow-x: hidden;
    flex-wrap: wrap;
  }
}

.content-cards__subtitle {
  margin-top: 0;
  margin-bottom: $spacing-half;
  text-transform: uppercase;
}

.content-cards__title {
  @include font-size($fontsize-heading-m, $lineheight-m);
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-double;
  margin-top: 0;

  @include breakpoint($breakpoint-s) {
    @include font-size($fontsize-heading-l, $lineheight-m);
  }
}

.content-card__link {
  width: 245px;
  padding-bottom: 0;

  @include breakpoint($breakpoint-s) {
    width: auto;
    padding-bottom: $spacing;
  }
}

.content-card {
  width: calc(245px + #{$card_spacing});
  padding-left: $card_spacing;

  &:first-of-type {
    padding-left: 0;

    @include breakpoint($breakpoint-s) {
      padding-left: $card_spacing;
    }
  }

  @include breakpoint($breakpoint-l) {
    width: 25%;
  }
}

.views--search {
  .content-card {
    width: auto;

    &:first-of-type {
      padding-left: 0;
    }
  }

  .content-card__link {
    width: 100%;
  }
}

.content-card__image {
  img {
    object-fit: cover;
  }
}

.content-card__content {
  background: $color-white;
  padding: $spacing;

  .content-card__metadata {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 0 $spacing-half;
  }

  .content-card__metadata-item {
    display: flex;
    align-items: center;
    background-color: $color-sand;
    color: $color-metro-dark;
    min-height: $spacing-double;
    padding: 0 $spacing-half;
    margin-right: $spacing;
    margin-bottom: $spacing-half;
    font-size: 14px;
    line-height: 1.4em;

    svg {
      vertical-align: middle;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .content-card__metadata-item__text {
    padding: $spacing-half 0;
    line-height: $lineheight-s;
    white-space: nowrap;
  }

  .content-card__bundle .content-card__metadata-item__text {
    padding-left: $spacing-quarter;
  }

  .bundle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bundle-icon {
    margin-right: $spacing-quarter;

    svg {
      vertical-align: middle;
    } 
  }

  h3 {
    margin: 0;
    font-size: 18px;
    font-weight: $font-weight-bold;

    a {
      text-decoration: none;
    }
  }
}

.content-card__arrow {
  color: $color-metro-dark;
  
  .icon {
    --icon-proportions: 1.5rem;

    @include breakpoint($breakpoint-m) {
      --icon-proportions: 1.8rem;
    }

    @include breakpoint($breakpoint-l) {
      --icon-proportions: 2rem;
    }
  }
}