.search__exposed-filters {
  position: relative;
  background-color: $color-black-80;
  margin-bottom: $spacing-sextuple;

  #views-exposed-form-search-page {
    padding: $spacing-triple 0;
  }

  .hds-koros {
    display: block;
    position: absolute;
  }

  form {
    label {
      color: $color-white;
    }

    input.form-text {
      border: 0;
    }
  }
}