.search-results-container .pager {
  margin-top: 1rem;
  margin-bottom: 1rem;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem 0;
    list-style: none;
    text-align: center;
    font-weight: bold;

    li {
      display: inline-block;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      vertical-align: top;

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        min-width: 2rem;
        height: 2rem;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        text-decoration: none;
        color: #545560;
        border-radius: 1rem; /* Pager size ÷ 2 */
        background: var(--color-white); /* Make sure that the text is visible on dark background. */
        line-height: 1;
        color: var(--color--black-70);
        background-color: transparent;
        cursor: pointer;
      }

      a:hover,
      a:focus {
        color: var(--color-white);
        background: var(--color-black-70);
      }
    }
    
    li.selected a {
      background: $color-bg-yellow;

      &:hover,
      &:focus {
        color: var(--color-white);
        background: var(--color-black-70);
      }
    }
  }
}
