.search-filters {
  position: relative;
  background-color: $color-black-80;
  margin-bottom: $spacing-sextuple;

  .path-frontpage & {
    margin: $spacing;

    @include breakpoint($breakpoint-xl) {
      margin: $spacing-double auto;
      max-width: 900px;
    }
  }

  h4 {
    margin: 0 0 10px;
    color: white;
    font-size: 1rem;
  }

  .form-actions {
    button {
      --background-color: var(--color-metro-dark);
      --background-color-hover: var(--color-metro-dark-hover);
      --background-color-focus: var(--color-metro-dark-hover);
      --background-color-hover-focus: var(--color-metro-dark-hover);
      --background-color-disabled: var(--color-metro-medium-light);
      --border-color: var(--color-metro-dark);
      --border-color-hover: var(--color-metro-dark-hover);
      --border-color-focus: var(--color-metro-dark-hover);
      --border-color-hover-focus: var(--color-metro-dark-hover);
      --border-color-disabled: var(--color-metro-medium-light);
      --color: var(--color-white);
      --color-hover: var(--color-white);
      --color-focus: var(--color-white);
      --color-hover-focus: var(--color-white);
      --color-disabled: var(--color-white);
      --focus-outline-color: var(--color-black);
      --submit-input-focus-gutter-color: var(--color-white);
    }
  }
  
  .filters {
    padding: $spacing-double 0;

    .path-frontpage & {
      padding-top: 0;
    }
  }

  .hds-koros {
    display: block;
    position: absolute;
  }

  .hds-text-input .hds-text-input__input {
    border: 0;
    background-position: calc(100% - var(--spacing-s)) center;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 3px $color-metro-dark;
    }
  }

  button[type="button"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px $color-metro-dark;
  }

  .hds-text-input__input-wrapper .icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 12px;
  }

  form {
    label {
      color: $color-white;
    }

    .form-actions {
      margin-bottom: $spacing-double;
    }
  }

  .form-item {
    margin-bottom: $spacing;

    &.form-item-s {
      margin-bottom: $spacing;

      label {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
    }
  }

  .year-interval__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    border: 0;
    box-sizing: border-box;
    color: $color-black-90;
    font-size: 1.125em;
    width: 100%;
    height: 56px;
    line-height: normal;
    padding: 0 $spacing;
    cursor: pointer;

    label {
      color: $color-black-90;
      margin-bottom: 0;
    }
  }

  .year-interval__form {
    background: $color-white;
    padding: $spacing;
    border-top: 1px solid $color-black-10;
  }

  .year-interval__form-items {
    display: flex;
    align-items: center;
    
    label {
      color: $color-black-90;
    }

    .hds-text-input .hds-text-input__input {
      border: 2px solid $color-black-50;
    }

    .item-divider {
      margin-top: 7px;
      padding: 0 $spacing-quarter;

      svg {
        vertical-align: middle;
      }
    }
  }

  .facets-summary {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: $spacing;

        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }

    .facet-item__container {
      background: $color-metro-dark;
      padding: $spacing;

      .facet-item__remove-icon {
        margin-right: $spacing-half;

        svg {
          vertical-align: middle;
        }
      }
    }
  }
}