.search-filters {
  position: relative;
  background-color: $color-black-80;
  margin-bottom: $spacing-sextuple;
  
  .filters {
    padding: $spacing-double 0;
  }

  .hds-koros {
    display: block;
    position: absolute;
  }

  .hds-text-input .hds-text-input__input {
    border: 0;
  }

  .hds-text-input__input-wrapper .icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 12px;
  }

  form {
    label {
      color: $color-white;
      margin-bottom: 10px;
    }

    .form-actions {
      margin-bottom: $spacing-double;
    }
  }

  .form-item {
    margin-bottom: 24px;

    &.form-item-s {
      margin-bottom: $spacing;

      label {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
    }
  }

  .search-filters-title {
    margin: 0 0 10px;
    color: white;
    font-size: 1rem;
  }

  .year-interval__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    border: 0;
    box-sizing: border-box;
    color: $color-black-90;
    font-size: 1.125em;
    height: 56px;
    line-height: normal;
    padding: 0 $spacing;

    label {
      color: $color-black-90;
    }
  }

  .year-interval__form {
    background: $color-white;
    padding: $spacing;
    border-top: 1px solid $color-black-10;
  }

  .year-interval__form-items {
    display: flex;
    align-items: center;
    
    label {
      color: $color-black-90;
    }

    .hds-text-input .hds-text-input__input {
      border: 2px solid $color-black-50;
    }

    .item-divider {
      margin-top: 7px;
      padding: 0 $spacing-quarter;

      svg {
        vertical-align: middle;
      }
    }
  }

  .facets-summary {
    ul {
      list-style: none;

      li {
        display: inline-block;
        margin-right: $spacing;

        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }

    .facet-item__container {
      background: $color-metro-dark;
      padding: $spacing;

      .facet-item__remove-icon {
        margin-right: $spacing-half;

        svg {
          vertical-align: middle;
        }
      }
    }
  }
}