.views--search {
  header {
    @include breakpoint($breakpoint-s) {
      display: flex;
      justify-content: space-between;
    }

    h2 {
      margin: 0 0 $spacing;
    }

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  .search-header__right {
    margin-top: $spacing;

    @include breakpoint($breakpoint-s) {
      margin-top: auto;
    }
  }

  .search-header__sort-container {
    display: flex;
    align-items: center;

    h4 {
      margin: 0;
      @include font-size($fontsize-body-m, $lineheight-l);
    }

    ul.search-api-sorts {
      list-style: none;
      margin: 0;
      padding: 0;
  
      li {
        display: inline-block;
        margin-left: $spacing-half;
      }

      a.sort-item {
        display: flex;
        align-items: center;

        &.is-active {
          font-weight: $font-weight-bold;
          text-decoration: none;
        }

        &:hover {
          text-decoration: none;
        }

        .icon {
          color: $color-metro-dark;
          --icon-proportions: 1.25rem;
        }
      }
    }
  }

  .search-results-wrapper {
    margin-top: $spacing-double;

    @include breakpoint($breakpoint-s) {
      margin-top: $spacing-triple;
    }
  }

  .columns__content {
    align-items: initial;
    flex-flow: row wrap;
    margin: 0;

    @include breakpoint($breakpoint-s) {
      margin: 0 -2%;
    }

    @include breakpoint($breakpoint-m) {
      margin: 0 -1%;
    }
  }

  .views-row {
    background: $color-white;
    flex: 1 1 100%;
    margin-bottom: $spacing-double;
    
    @include breakpoint($breakpoint-s) {
      flex: 0 1 46%;
      margin: 0 2% $spacing-double 2%;
    }

    @include breakpoint($breakpoint-m) {
      flex: 0 1 31%;
      margin: 0 1% $spacing-double 1%;
    }

    @include breakpoint($breakpoint-l) {
      flex: 0 1 23%;
      margin: 0 1% $spacing 1%;
    }
  }
}
