.views--search {
  header {
    h2 {
      margin: 0 0 $spacing;
    }

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  .search-results-wrapper {
    margin-top: $spacing-triple;
  }

  .columns__content {
    flex-wrap: wrap;
  }

  .views-row {
    max-width: 320px;
    margin-bottom: $spacing-double;
  }
}