.search-filters {
  position: relative;
  background-color: $color-black-80;
  margin-bottom: $spacing-sextuple;

  .path-frontpage & {
    margin: $spacing;

    @include breakpoint($breakpoint-xl) {
      margin: $spacing-double auto;
      max-width: 900px;
    }
  }

  h4 {
    margin: 0 0 10px;
    color: white;
    font-size: 1rem;
  }

  .form-actions {
    button {
      margin-right: $spacing-half;
      --background-color: var(--color-metro-dark);
      --background-color-hover: var(--color-metro-dark-hover);
      --background-color-focus: var(--color-metro-dark-hover);
      --background-color-hover-focus: var(--color-metro-dark-hover);
      --background-color-disabled: var(--color-metro-medium-light);
      --border-color: var(--color-metro-dark);
      --border-color-hover: var(--color-metro-dark-hover);
      --border-color-focus: var(--color-metro-dark-hover);
      --border-color-hover-focus: var(--color-metro-dark-hover);
      --border-color-disabled: var(--color-metro-medium-light);
      --color: var(--color-white);
      --color-hover: var(--color-white);
      --color-focus: var(--color-white);
      --color-hover-focus: var(--color-white);
      --color-disabled: var(--color-white);
      --focus-outline-color: var(--color-black);
      --submit-input-focus-gutter-color: var(--color-white);
    }
  }
  
  .filters {
    padding: $spacing-double 0;

    .path-frontpage & {
      padding-top: 0;
    }
  }

  .hds-koros {
    display: block;
    position: absolute;
  }

  .hds-text-input .hds-text-input__input {
    border: 0;
    background-position: calc(100% - var(--spacing-s)) center;
    cursor: pointer;

    &:focus {
      outline: none;
      box-shadow: 0px 0px 0px 3px $color-metro-dark;
    }
  }

  button[type="button"]:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px $color-metro-dark;
  }

  .hds-text-input__input-wrapper .icon {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 12px;
  }

  form {
    label {
      color: $color-white;
    }

    .form-actions {
      margin-bottom: $spacing-double;
    }
  }

  .form-item {
    margin-bottom: $spacing;

    &.form-item-s {
      margin-bottom: $spacing;

      label {
        display: block;
        font-weight: $font-weight-bold;
        margin-bottom: 8px;
      }
    }
  }

  .search-filters__era-selector {
    padding-left: $spacing;

    div[role="button"] {
      font-weight: 400;
      color: var(--placeholder-color);
    }

    div[role="region"] {
      border-top: 1px solid $color-black-10;
      padding-top: $spacing-three-quarters;
    }

    label {
      color: $color-black-80;
    }

    .year-input-container {
      display: flex;
      align-items: center;

      .item-divider {
        margin-top: $spacing-double;
        padding: 0 $spacing-quarter;
      }
    }
  }
}