.search-result {
  .search-result__image {
    height: 200px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  
  .search-result__video {
    height: 200px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .metadata-wrapper {
    background: $color-white;
    padding: $spacing;

    .metadata-row {
      display: flex;
      align-items: flex-start;
      margin: 0 0 $spacing;
    }

    .metadata-item {
      display: flex;
      align-items: center;
      background-color: $sand;
      color: $color-metro-dark;
      min-height: $spacing-double;
      padding: 0 $spacing-half;
      margin-right: $spacing;
      font-size: 14px;
      line-height: 1.4em;
    }

    .format-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .format-icon {
      margin-right: $spacing-quarter;

      svg {
        vertical-align: middle;
      } 
    }

    h3 {
      margin: 0 0 $spacing;
      font-size: 18px;
      font-weight: $font-weight-bold;

      a {
        text-decoration: none;
      }
    }
  }
}