.media--type-image {
  &.media--view-mode-full {
    .before-content {
      .page-title {
        h1 {
          margin-bottom: $spacing;
          margin-top: 0;
          max-width: $content-width-max;
        }
      }
    }

    .main-content {
      margin-top: $spacing;

      @include breakpoint($breakpoint-s) {
        margin-top: $spacing-double;
      }

      @include breakpoint($breakpoint-m) {
        margin-top: $spacing-quadruple;
      }

      .label {
        @include font-size(18px, 30px);
        color: $color-black-90;
        font-weight: $font-weight-medium;
        margin: 0 $spacing-quarter $spacing-half;

        @include breakpoint($breakpoint-m) {
          @include font-size(24px, 30px);
          margin: 0 $spacing-quarter $spacing;
        }
      }

      .columns__container:nth-child(1) {
        .image__media_image {
          img {
            width: 100%;
            height: auto;
          }
        }

        .image__geolocation {
          margin-bottom: $spacing-double;

          .leaflet-control-container,
          .map-controls__top-container {
            display: none;
          }
        }

        .image__usage {
          article.content-card--design-listing-item {
            width: 100%;
            height: 100%;
            padding: 0;
        
            .content-card__link {
              display: flex;
              width: 100%;
              height: 100%;
        
              .content-card__image {
                width: 35%;
                
                div,
                img {
                  height: 100%;
                }
              }
        
              .content-card__content {
                width: 65%;
              }
        
              .content-card__metadata {
                display: flex;
                margin-top: $spacing;

                .content-card__phenomena,
                .content-card__year {
                  display: none;
                }
              }
            }
          }
        }
      }

      .columns__container:nth-child(2) {
        margin-top: $spacing-double;

        .image__finna_id {
          margin-bottom: $spacing-double;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
