.views--listings {
  display: flex;
  flex-flow: row wrap;
  margin: $spacing-double (-$spacing-half);

  .views-row {
    flex: 0 100%;
    margin-bottom: $spacing;

    @include breakpoint($breakpoint-m) {
      flex: 1 50%;
      max-width: 50%;
    }
  }

  article.content-card {
    width: 100%;
    height: 100%;

    .content-card__link {
      display: flex;
      width: 100%;
      height: 100%;

      .content-card__image {
        width: 45%;
        height: 100%;

        & > div,
        & > img {
          height: 100%;
        }
      }

      .content-card__content {
        width: 55%;
        height: 100%;
      }

      .content-card__article-count,
      .content-card__metadata {
        display: flex;
        margin-top: $spacing;
      }
    }
  }
}
