.map-view-page {
  .region-content {
    position: relative;
  }
}

.views--combined-map {
  .map-container {
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .main-map-container {
    width: 100%;
    height: 80vh !important;

    @include breakpoint($breakpoint-m) {
      height: 70vh !important;
    }
  }

  #comparison-map-container {
    display: none;
    width: 100%;
    height: 40vh;

    @include breakpoint($breakpoint-m) {
      width: 50%;
      height: 70vh;
    }
  }

  &.comparison-enabled {
    .map-container {
      @include breakpoint($breakpoint-m) {
        display: flex;
      }
    }

    .main-map-container {
      width: 100%;
      height: 40vh !important;
      
      @include breakpoint($breakpoint-m) {
        width: 50%;
        height: 70vh !important;
      }
    }

    .center-pointer {
      display: block !important;
      position: absolute;
      z-index: 401;
      top: 50%;
      left: 50%;
      margin: -16px 0 0 -16px;

      .icon {
        transform: rotate(45deg);
      }
    }
  }

  .marker-cluster-small,
  .marker-cluster-medium {
    background-color: rgba(209, 67, 20, 0.7);
    transition: box-shadow 0.08s;

    &:hover {
      box-shadow: 0px 0px 6px rgba(189, 47, 0, 0.6);
    }

    div {
      background-color: rgba(189, 47, 0, 0.55);
    }

    span {
      font-family: $font-default;
      font-weight: $font-weight-bold;
      color: white;
    }
  }

  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      .leaflet-popup-content {
        margin: -1px;

        article.content-card--design-map-item {
          width: 100%;
          padding: 0;

          a {
            width: 100%;
            padding-bottom: 0;
            border-radius: 12px;
            color: var(--hdbt-default-link-color);

            .content-card__content {
              h3 {
                font-size: 16px;
                line-height: 1.2rem;
              }
            }
          }
        }
      }
    }

    .leaflet-popup-close-button {
      padding: 6px 0 0 0;
      border-radius: 50%;
      height: 24px;
      width: 24px;
      background: $color-black-80;
      color: $color-white;

      &:hover,
      &:focus {
        background: $color-black-70;
        color: $color-white;
      }
    }
  }
}

#map-loading-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 410;
  
  #spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

#map-loading-spinner {
  background: url('../../src/icons/loading-spinner.svg');
  background-size: 100%;
  width: 150px;
  height: 150px;
}