.views--listings {
  display: flex;
  flex-flow: row wrap;
  margin: $spacing-double (-$spacing-half);

  .views-row {
    flex: 0 100%;
    margin-bottom: $spacing;

    @include breakpoint($breakpoint-m) {
      flex: 1 50%;
    }
  }

  article.node--view-mode-listing-item {
    padding: 0 $spacing-half;
    height: 100%;
    display: flex;

    .thumbnail-image {
      display: flex;
      flex: 1 50%;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .content-wrapper {
      background: white;
      padding: $spacing;
      display: flex;
      flex: 1 50%;
      flex-flow: column;

      h2 {
        @include font-size(20px, 24px);
        font-weight: $font-weight-bold;
        margin: 0 0 $spacing;
      }

      .icon {
        color: $color-metro-dark;
      }

      a {
        text-decoration: none;
      }
    }
  }
}