.select2-container {
  &.select2-container--open {
    box-shadow: 0px 0px 0px 3px #bd2f00;
  }

  .select2-dropdown {
    border: none;
    border-radius: 0;

    .select2-search--dropdown {

      .select2-search__field {
        line-height: var(--input-height);
        font-size: 1.125em;
      }
    }
  }

  .select2-selection--single {
    background-color: #fff;
    border: none;
    height: var(--input-height);
    border-radius: 0;
    font-size: 1.125em;

    .select2-selection__placeholder {
      color: var(--placeholder-color);
    }

    .select2-selection__arrow {
      height: var(--input-height);
      right: $spacing;
    }

    .select2-selection__rendered {
      line-height: var(--input-height);
      padding: 0 $spacing;
    }
  }
}
