{% if content %}
  <div class="image__usage">
    <h3 class="label">{{ 'Used in articles'|t({}, {'context': 'Content'}) }}</h3>
    {% for nid in content %}
      {{ drupal_entity('node', nid, 'listing_item') }}
    {% endfor %}
  </div>
{% endif %}
