{#
/**
 * @file
 * The views infinite scroll pager template.
 */
#}

{% if items.next %}
  <ul{{ attributes.addClass('search__pager') }}>
    <li class="pager__item search__pager-button-wrapper">
      <a class="search__pager-button button" href="{{ items.next.href }}" rel="next">
        {% include '@hdbt/button/button.html.twig' with {type: 'secondary', disabled: false, label: options.button_text } %}
      </a>
    </li>
  </ul>
{% endif %}
