{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('search-filters') }}>
    {% embed "@hdbt/misc/container.twig" with {container_element: 'block'} %}
      {% block container_content %}
        <div class="filters">
          {{ content }}
        </div>
      {% endblock %}
    {% endembed %}
    {% if not is_frontpage %}
      {% include '@hdbt/misc/koro.twig' with {koro: koro, flip: true, color: '#333333' } %}
    {% endif %}
  </div>
{% endif %}
