{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{% if content %}
  <div{{ attributes.addClass('before-content') }}>
    {% if has_hero and not is_frontpage %}
      {{ drupal_block('hero_block') }}
    {% else %}
      {% if not is_frontpage %}
        {% embed "@hdbt_subtheme/misc/container.twig" with {container_element: 'back-to-search-results', container_style: 'display: none;'} %}
          {% block container_content %}
            {% include "@hdbt_subtheme/misc/back-to-search-results.html.twig" %}
          {% endblock container_content %}
        {% endembed %}
      {% endif %}
      
      {{ content }}
    {% endif %}

    
  </div>
{% endif %}
