.before-content {
  .page-type--article &,
  .page-type--listing-page &,
  .media--type-image &,
  .media--type-remote-video & {
    background-color: $color-bg-yellow;
    padding-top: $spacing;

    @include breakpoint($breakpoint-s) {
      padding-top: $spacing-double;
    }

    .breadcrumb {
      margin: $spacing-and-half 0;
      padding: 0;

      @include breakpoint($breakpoint-s) {
        margin: $spacing-double 0;
      }
    }

    .main-image {
      margin-top: -50px;
  
      img {
        vertical-align: middle;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        height: 60vw;

        @include breakpoint($breakpoint-m) {
          height: 40vw;
        }

        @include breakpoint($breakpoint-xl) {
          height: 30vw;
        }
      }
    }
  }
}
