.map-controls__control-button {
  background: $color-black-80;
  color: $color-white;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  @include font-size(15px, 24px);
  
  &:hover {
    background: $color-black-70;
  }

  &.active {
    background: $color-metro-dark;
  }
}

.map-controls__top-container {
  position: absolute;
  top: 30px;
  z-index: 401;
  left: 20px;
  max-width: 90%;
  
  @include breakpoint($breakpoint-m) {
    left: 80px;
  }

  .map-controls__control-button {
    padding: $spacing-half $spacing;
  }

  .map-controls__map-layer {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-top: 1px solid #333;
      background: $color-metro-dark;
    }

    .map-controls__map-layer-item {
      position: relative;

      &:after {
        position: absolute;
        top: 15%;
        right: 0;
        display: block;
        content: "";
        width: 1px;
        height: 70%;
        padding: 3px 0;
        box-sizing: border-box;
        background-color: $color-black-50;
      }

      &:last-child:after,
      &.active:after {
        display: none;
      }
    }
  }
}

.map-controls__sidebar-container {
  position: absolute;
  right: 30px;
  top: 200px;
  z-index: 401;

  .map-controls__control {
    margin-bottom: $spacing-half;
  }
  
  .map-controls__control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    padding: 0;
  }

  #map-comparison-btn {
    width: 180px;
    transform-origin: bottom left;
    transform: translate(0, -180px) rotate(90deg);

    .icon {
      margin-right: 16px;
    }
  }
}

#geolocation-denied-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: rgba(0,0,0,0.4);

  .info-box {
    background: $color-white;
    border-top: 6px solid $color-metro-dark;
    padding: $spacing;
    max-width: 400px;
    cursor: default;

    .info-header {
      display: flex;
      align-items: center;
      margin-bottom: $spacing;
    }

    span.info-icon {
      background: url('../../src/icons/info-circle.svg') no-repeat left center;
      background-size: 100%;
      width: 22px;
      height: 22px;
      margin-right: $spacing-half;
    }

    h3 {
      @include font-size(18px, 20px);
      font-weight: 700;
      margin: 0;
    }

    p {
      @include font-size(15px, 24px);
      margin: 0;
    }

    .close-btn {
      cursor: pointer;
      background: url('../../src/icons/cross.svg') no-repeat center;
      background-size: 22px;
      width: 22px;
      height: 22px;
      text-indent: -20000px;
      margin-left: auto;
    }
  }
}