.page-type--map-page {
  .search-filters {
    margin-bottom: 0;

    > .container {
      padding-top: 0;
    }

    .filters {
      padding: $spacing 0;
    }
  }
}

.exposed-filters__map {
  .exposed-filters__container {
    margin-top: $spacing-double;
  }
}