.page-type--map-page {
  .search-filters {
    margin-bottom: 0;

    > .container {
      padding-top: 0;
    }

    .filters {
      padding: $spacing 0;
    }
  }
}

.exposed-filters__map {
  .toggle-filters-btn {
    text-align: center;

    .hds-button {
      --background-color: transparent;
      --background-color-hover: var(--color-black-70);
      --background-color-focus: var(--color-black-70);
      --background-color-hover-focus: var(--color-black-70);
      --border-color: var(--color-white);
      --border-color-hover: var(--color-white);
      --border-color-focus: var(--color-white);
      --border-color-hover-focus: var(--color-white);
      --color: var(--color-white);
      --color-hover: var(--color-white);
      --color-focus: var(--color-white);
      --color-hover-focus: var(--color-white);
      --focus-outline-color: var(--color-black);
      --submit-input-focus-gutter-color: var(--color-white);
    }
  }
  .exposed-filters__container {
    margin-top: $spacing-double;
  }
}
