#block-helhistmapcontrols {
  position: absolute;
  top: 120px;
  z-index: 10;
  left: 80px;
}

.map-controls__container {
  .map-controls__map-era {
    display: flex;
    align-items: center;

    .map-controls__map-era-item {
      background: $color-black-80;
      color: $color-white;
      padding: $spacing-half $spacing;
      cursor: pointer;
      
      &:hover {
        background: $color-black-70;
      }

      &.active {
        background: $color-metro-dark;
      }
    }
  }
}