#block-helhistmaplift {
  position: relative;
  background-color: $color-black-80;
  color: $color-white;
  margin: (-$spacing-quadruple) $spacing $spacing-double;
  padding-bottom: $spacing-double;
  max-width: $content-area-wrapper-width-max;
  max-width: 960px;

  @include breakpoint($breakpoint-xl) {
    margin: (-$spacing-quadruple) auto $spacing-double;
  }

  h3 {
    margin: 0 0 $spacing;
    font-weight: $font-weight-bold;

    @include breakpoint($breakpoint-l) {
      @include font-size($fontsize-heading-m, $lineheight-s);
    }
  }

  h5 {
    @include font-size($fontsize-body-m, $lineheight-s);
    margin-top: 0;
    margin-bottom: $spacing;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 $spacing;
  }

  img {
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  .map-lift__image {
    margin-bottom: $spacing;
  }
}