<div class="reading-time">
  {% include '@hdbt/misc/icon.twig' with {icon: 'clock', label: 'Clock icon'|t } %}
  <div class="reading-time__content">
    <span class="reading-time__label">{{ 'Reading time'|t }}: </span>
    <span class="reading-time__value">
      {% block reading_time_value %}
        {{ content }}
      {% endblock %}
    </span>
    <span class="reading-time__suffix"> min.</span>
  </div>
</div>