{%
  set classes = [
    'sort-item',
     active ? 'sort-' ~ order,
     active ? 'is-active',
    'sort-item--' ~ sort_field
  ]
%}
<a href="{{ url }}" {{ attributes.addClass(classes) }}>
  {{ label }}
  {% if active and order == 'desc' %}
    {% include '@hdbt/misc/icon.twig' with {icon: 'arrow-up', label: 'Descending icon'|t } %}
  {% elseif active and order == 'asc' %}
    {% include '@hdbt/misc/icon.twig' with {icon: 'arrow-down', label: 'Ascending icon'|t } %}
  {% endif %}
  {# order_indicator #}
</a>
