h1 {
  @include font-size($fontsize-heading-l);
  font-weight: $font-weight-bold;

  @include breakpoint($breakpoint-m) {
    @include font-size($fontsize-heading-xl);
    // Margin on top needed to create enough space on top when there is no hero.
    margin-top: $spacing-quadruple;
  }

  @include breakpoint($breakpoint-l) {
    @include font-size(72px, $lineheight-s);
    margin-bottom: $spacing-quadruple;
  }
}