.back-to-search-results,
.generic-back-link {
  margin: $spacing 0;
  max-width: $content-width-max;

  .path-media & {
    margin: $spacing-and-half 0;

    @include breakpoint($breakpoint-s) {
      margin: $spacing-double 0;
    }
  }

  a {
    color: $color-metro-dark;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
