#back-to-search-results {
  margin: $spacing 0;
  max-width: $content-width-max;

  a {
    color: $color-metro-dark;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
